<launch>
    <arg name="robot_type" default="wl" doc="Robot model name in Gazebo"/>
    <arg name="z" default="0.42" doc="Initial spawn height"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="extra_gazebo_args" default=""/>
    <arg name="haa" default="0.0" doc="Initial HAA joint position"/>
    <arg name="hfe" default="0.9" doc="Initial HFE joint position"/>
    <arg name="kfe" default="-1.8" doc="Initial KFE joint position"/>

    <param name="legged_robot_description" textfile="$(find legged_wl_description)/urdf/wl.urdf"/>

    <rosparam file="$(find legged_gazebo)/config/default.yaml" command="load"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find legged_gazebo)/worlds/empty_world.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="physics" value="$(arg physics)"/>
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-z $(arg z) -param legged_robot_description -urdf -model $(arg robot_type)
                -J LF_HAA $(arg haa) -J LF_HFE $(arg hfe) -J LF_KFE $(arg kfe)
                -J LH_HAA $(arg haa) -J LH_HFE $(arg hfe) -J LH_KFE $(arg kfe)
                -J RF_HAA $(arg haa) -J RF_HFE $(arg hfe) -J RF_KFE $(arg kfe)
                -J RH_HAA $(arg haa) -J RH_HFE $(arg hfe) -J RH_KFE $(arg kfe)"
          output="screen"/>
</launch>
